@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
	background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
    height: 100%;
}

.card {
	background-color: hsl(0, 0%, 12%);
    width: 200px;
    height: 400px;
    margin-inline: auto;
    margin-top: auto;
    padding-block: 40px;
    padding-bottom: 40px;
    border-radius: 20px

}

.info {
	text-align: center;
}

h1{
	font-size: 30px;
    margin: 0;
    color: white;
}

h1{
	font-size: 30px;
    margin: 0;
    color: white;
    padding-top: 10px;
    font-weight: 600;
}

h4{
	font-size: 14px;
    margin: 0;
    color: hsl(75, 94%, 57%);
    padding-top: 5px;
    padding-bottom: 30px;
    font-weight: 600;
}

p{
	font-size: 14px;
    margin: 0;
    color: white;
    padding-bottom: 20px;
    font-weight: 400;
}


.social-links {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 12%);
    border-radius: 20px;
    padding-bottom: 40px;
  }
  
  .social-links a {
    background-color:hsl(0, 0%, 20%);
    width: 350px;
    height: 60px;
    margin: 10px auto;
    text-align: center;
    /* line-height: 75px; */
    font-size: 30px;
    align-items: center;
    font-size: 14px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    justify-content: center;
  }

    .social-links a:hover {
        background-color: hsl(75, 94%, 57%);
        color: hsl(0, 0%, 12%);
    }


@media screen and (min-width: 375px) {
    body{
        max-height: 100%;
    }

    .card {
        width: 350px;
        height: 500px;
        margin-inline: auto;
        margin-top: 50px;
    }
    .social-links a {
        width: 300px;
        height: 50px;
        font-size: 12px;
    }
    
}